= form_for @flashcard_set, html: { class: "form form-horizontal flashcard_set" } do |f|
  .form-group
    = f.label :title, class: 'control-label'
    .controls
      = f.text_field :title, class: 'form-control', required: true
    = error_span(@flashcard_set[:title])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), flashcard_sets_path, :class => 'btn btn-default'
