- model_class = FlashcardSet
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @flashcard_sets.each do |flashcard_set|
      %tr
        %td= link_to flashcard_set.id, flashcard_set_path(flashcard_set)
        %td= flashcard_set.title
        %td=l flashcard_set.created_at
        %td
          = link_to "quiz", "/flashcard_sets/#{flashcard_set.id}/quiz", :class => 'btn btn-default btn-xs'
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_flashcard_set_path(flashcard_set), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), flashcard_set_path(flashcard_set), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_flashcard_set_path, :class => 'btn btn-primary'
